@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5%;
  font-family: 'Open Sans';
  font-size: 1em;
  color: #2d3c49;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.name {
  padding-right: 5%;
  text-align: right;
}

.row {
  text-align: center;
}

.photo img {
  width: 30%;
  margin-bottom: 10px;
}

header {
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  border-bottom: 5px solid #7d97ad;
}

.featured {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.featuredText {
  color: #7d97ad;
  font-size: 40px;
}

.mainImage {
  width: 100%;
}

.mainImage img {
  margin: 0 auto;
  width: 100%;
}

.tiles {
  flex: 1;
  padding: 1em 0.5em;
}

.tiles img {
  width: 100%;
}

@media screen and (max-width:1000px){
  .name {
    width: 66%;
  }
}

@media screen and (max-width:768px){
  .name {
    width: 100%;
  }

  .photo {
    width: 50%;
    float: left;
  }
}
